* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  caret-color: transparent;
}

body {
  background-color: lightblue;
  font-family: "Montserrat", sans-serif;
}

a {
  color: unset;
  text-decoration: none;
}

.card-title {
  font-size: 2rem;
  text-align: center;
  color: darkblue;
  font-family: bold;
  margin: 0rem;
}

.card-text {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
  padding: 0.8rem;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin: 1.5rem;
}

.container {
  padding-bottom: 1rem;
}

.logo {
  font-family: "Pacifico";
  font-size: 1.5rem;
  padding-left: 5rem;
}

#blanket-image {
  margin: 2rem;
  margin-top: 2rem;
  margin-right: 0rem;
  padding: 0rem;
  border-radius: 7px;
}
