* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  caret-color: transparent;
}

body {
  background-color: lightblue;
  font-family: "Montserrat", sans-serif;
}

.card-title {
  font-size: 3rem;
  text-align: center;
  color: darkblue;
  padding-bottom: 0.5rem;
  font-family: bold;
}

.card-text {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
  padding: 0.5rem;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin: 1.5rem;
}

.container {
  padding-bottom: 1rem;
}

.logo {
  font-family: "Pacifico";
  font-size: 1.5rem;
  padding-left: 5rem;
}
